.git
.gitignore
.pytest_cache
__pycache__
**/__pycache__
*.py[cod]

.env.*
!.env.example

logs
storage
*.log
*.db

html-interrogate/node_modules
html-interrogate/dist
html/node_modules
html/dist

node_modules
dist

build/docker/*.tar
